@import './src/common/styles/sass/variables';

@import './src/common/styles/sass/mixins';

.question {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  margin-bottom: 13px;
  .questionTitle {
    margin-bottom: 12px;

    font-weight: 600;
  }
  .questionImg {
    height: 100px;
  }
}
.questionsShots {

  @include text(14px, 400, 24px);

  display: flex;
  gap: 4px;
  justify-content: center;

  margin-bottom: 30px;

  font-style: normal;
}
