@import './src/common/styles/sass/variables';

@import './src/common/styles/sass/mixins';

.question {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;

  margin-bottom: 13px;
  .questionTitle {
    font-weight: 600;
  }
  .questionImg{
    width: 200px;
    height: 200px;
  }
}
.questionsShots {

  @include text(14px, 400, 24px);

  display: flex;
  gap: 4px;
  justify-content: center;

  margin-bottom: 30px;

  font-style: normal;
}
