.tableCell {
  display: flex;
  align-items: center;
  .image {
    width: 100px;
    padding-right: 12px;
  }
}
.packName {
  overflow: hidden;
  display: inline-block;

  width: 100px;

  text-overflow: ellipsis;
  white-space: nowrap;
}
