.headerNav {
  display: flex;
  justify-content: center;

  height: 60px;

  background: #fcfcfc;
  box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.navList {
  display: flex;
  justify-content: space-between;
  justify-items: flex-end;
}

.navItem {
  list-style: none;
}

.link {
  color: #004d99;
  text-decoration: none;
}

.activeLink {
  color: hotpink;
  text-decoration: none;
}
