.notFoundBlock {
  height: 100vh;
}

.textBlock {
  flex-direction: column;

  padding-bottom: 36px;
}

.textBlock div:first-child {
  padding-bottom: 10px;

  font-size: 50px;
  font-weight: 600;
}

.errorButton {
  width: 218px;
  height: 30px;
  padding: 8px 26px;

  color: var(--textSecondColor);
  text-decoration: none;

  background: var(--primaryColor);
  border: transparent;
  border-radius: 36px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.errorButton:hover {
  cursor: pointer;

  background: #0080ff;
}

.imageBlock {
}

@media screen and (max-width: 840px) {
  .notFoundBlock {
    flex-direction: column;

    height: 100%;
  }

  .imageBlock svg {
    width: 250px;
  }
}
