@import './src/common/styles/sass/variables';

@import './src/common/styles/sass/mixins';

.answerBlock {
  display: flex;
  gap: 4px;
  justify-content: center;

  margin: 35px 0 25px;

  .answerTitle {

    @include text(18px, 600, 24px);

    font-style: normal;
  }
}

.radioBlock {
  display: flex;
  flex-direction: column;

  text-align: start;

  .rate {
    margin-bottom: 15px;
  }

  .radio {
    display: flex;
    gap: 12px;
    align-items: center;

    margin-bottom: 12px;
    .radioButton {
      width: 16px;
      height: 16px;
    }
  }
}
.button {
  margin: 42px 0 36px;
}
