.input:focus {

}

.input {
  width: 347px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background: transparent;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.inputWrapper {
  display: flex;
  flex-flow: column-reverse;
}

.superInput {
  width: 347px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background: transparent;
}

.errorInput {
  border: 1px solid #CC1439;
  border-radius: 5px;
}

.errorInput:focus {

}

.error {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  line-height: 12px;
  color: #CC1439;
  padding: 0 0 5px 0;
}
