@import 'src/common/styles/sass/variables';

@import 'src/common/styles/sass/mixins';

.container {
  justify-content: center;

  margin: 60px auto;

  .formControl {

    @include flex(column, center, center, nowrap, center);

    margin: 40px 34px;

    .input {
      width: 347px;
      padding-bottom: 5px;
    }

    .fieldError {

      @include text(14px, 600, 22px);

      position: absolute;
      top: 52px;

      width: 347px;

      color: $errorColor;
      text-align: center;
    }

    .singIn {

      @include text(26px, 600, 32px);

      margin-bottom: 40px;

      text-align: center;
    }

    .forgotPassword {

      @include text(14px, 500, 17px);

      cursor: pointer;

      display: flex;
      justify-content: flex-end;

      margin: 29px 0 69px;
      &:hover {
        text-decoration: underline;
      }
    }

    .button {
      height: 36px;

      text-transform: none;

      background-color: $primaryColor;
      border-radius: 30px;

      &:hover {
        background-color: $secondColor;
      }
    }

    .text {

      @include text(14px, 600, 24px);

      margin: 31px 0 7px 0;

      text-align: center;

      opacity: 0.5;
    }

    .signUp {

      @include text(16px, 600, 24px);

      cursor: pointer;

      color: $primaryColor;
      text-align: center;
      text-decoration: underline;
    }
  }
}
