@import 'src/common/styles/sass/variables';

@import 'src/common/styles/sass/mixins';

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 90vh;

  .formControl {
    @include flex(column, center, center, nowrap, center);

    margin: 40px 34px;

    .SingIn {
      @include text(26px, 600, 32px);

      text-align: center;
    }

    .ForgotPassword {
      @include text(14px, 500, 17px);

      cursor: pointer;

      display: flex;
      justify-content: flex-end;

      margin: 29px 0 69px;
    }

    .text {
      @include text(14px, 600, 24px);

      margin: 31px 0 7px 0;

      text-align: center;

      opacity: 0.5;
    }

    .SignUp {
      @include text(16px, 600, 24px);

      cursor: pointer;

      color: $primaryColor;
      text-align: center;
      text-decoration: underline;
    }
  }
}
