.wrapper {
  width: 413px;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  place-content: center;
}

.container {
  margin: 34px 0 38px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
}

.image {
  margin: 30px 0 0;
  width: 108px;
  height: 108px;
  background: url("./../../../../assets/icons/email.svg");
}

.instructions {
  padding: 30px 0 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.5;
  text-align: center;
}

.account {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  opacity: 0.5;
  margin-bottom: 7px;
}

.container a {
  width: 347px;
  height: 36px;
  text-align: center;
  color: var(--textSecondColor);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  background: var(--primaryColor);
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding:8px 0;
}