.button {
  height: 30px;

  color: var(--textSecondColor);

  border: transparent;
  border-radius: 36px;
  box-shadow: 0 4px 18px rgba(54, 110, 255, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.disabled {
  width: 133px;

  color: #002e5c;

  opacity: 0.5;
  background: #004d99;
}

.secondary {
  width: 176px;

  color: var(--primaryColor);

  background-color: var(--textSecondColor);
  border: 1px solid var(--primaryColor);
}

.default {
  width: 218px;

  background: var(--primaryColor);
}

.red {
  width: 129px;

  background: #cc1439;
}

.default:hover {
  cursor: pointer;

  background: #0080ff;
}

.red:hover {
  background: #ff1a47;
}

.secondary:hover {
  background: #e5f0fa;
}

.default:active {
  background: #0059b3;
}

.secondary:active {
  background: #c9e5ff;
}

.red:active {
  background: #b31232;
}

.button:disabled {
  opacity: 0.5;
}
