.label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/*input[type="checkbox"] - no*/

.checkbox {
  appearance: none;
  /*Свойство appearance изменяет внешний вид элемента интерфейса, при сохранении его функции.
     Если задать значение none, то чекбокс пропадет, но по нему, тем не менее,
     можно щелкать и состояние чекбокса будет меняться*/

  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  /*background-size: 90% 90%;*/
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 3px;
  border: 2px solid var(--primaryColor);
  cursor: pointer;
}

.checkbox:checked {
  appearance: none;
  background: var(--primaryColor);
  background-image: url('./../../../../../assets/icons/checked.svg');
  background-size: cover;
  background-position: center;
}

.checkbox:focus {
  border-color: var(--primaryColor);
}
