.wrapper {
  display: flex;
  align-items: flex-end;

  .imgBlock {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 36px;

    background: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    .img {
      cursor: pointer;

      width: 24px;
      height: 24px;
    }
  }
}
