@import './src/common/styles/sass/mixins';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;

  margin-top: 36px;
  .selectBlock {
    display: flex;
    gap: 5px;
    align-items: center;
    .text {
      @include text(15px, 500, 15px);

      font-style: normal;
    }
  }
}
