$color_1: #000;
$color_2: var(--primaryColor);
$background-color_1: #fff;

@import 'src/common/styles/sass/variables';

@import 'src/common/styles/sass/mixins';

.formWrapper {
  display: flex;
  flex-direction: column;
  place-content: center;

  width: 413px;
  margin: 60px auto;

  background-color: $background-color_1;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 34px 0 38px 0;
  a {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: $color_2;
  }
  .button {
    height: 36px;

    text-transform: none;

    background-color: $primaryColor;
    border-radius: 30px;

    &:hover {
      background-color: $secondColor;
    }
  }
  .heading {
    font-size: 26px;
    font-weight: 600;
    line-height: 32px;
  }
  .fieldError {

    @include text(14px, 600, 22px);

    position: absolute;
    top: 52px;

    width: 347px;

    color: $errorColor;
    text-align: center;
  }
  .form {
    position: relative;

    display: flex;
    flex-direction: column;
    place-content: center;

    margin: 40px 34px;
  }

  .label {
    display: inline-block;

    margin-top: 24px;

    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

    opacity: 0.5;
  }
  .instructions {
    padding: 26px 0 64px;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

    opacity: 0.5;
  }
  .tryLogIn {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .account {
    margin-bottom: 7px;

    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: $color_1;

    opacity: 0.5;
  }
}
