@import './src/common/styles/sass/variables';

@import './src/common/styles/sass/mixins';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  margin: 40px 0;

  .h2 {

    @include text(22px, 600, 27px);

    margin-bottom: 13px;
  }

  .modal {
    display: none;
  }

  .button {
    width: 184px;
    height: 36px;

    text-transform: none;

    background-color: $primaryColor;
    border-radius: 30px;

    &:hover {
      background-color: $secondColor;
    }
  }
}
